@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
* {
  font-family: Lora;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 350px;
  border: none;
  background-image: #CDA861 100%;
  border: 1px solid goldenrod;
  border-radius: 20px;
}

.poster {
  height: 100%;
  width: 350px;
  height: 100%;
  background-image: url("../img/furniture/chair-sofa.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.text {
  display: grid;
  justify-content: left;
  width: 600px;
  height: 100%;
  align-content: center;
  border: none;
  background-image: url("../img/furniture/chair.png");
  background-repeat: no-repeat;
  background-position: 105% 100%;
  background-size: 50%;
}
.text :nth-child(2) {
  width: 50%;
  font-size: 40px;
  font-weight: 700;
  color: black;
  text-align: left;
  letter-spacing: 1px;
}
.text :nth-child(3) {
  width: 70%;
  font-size: 12px;
  color: grey;
  text-align: left;
  letter-spacing: 1px;
}

.text > a {
  font-size: 20px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-color: var(--3, #CDA861);
  text-decoration-style: solid;
}

.text > span {
  width: 70%;
}