@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
* {
  font-family: Lora;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

.menu1 {
  color: var(--1, #34383D);
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.menu1 > div:first-child {
  font-size: 22px;
  font-weight: 700;
}

.menu1 > div:first-child::before {
  content: url("../img/headphone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  margin-right: 10px;
  padding: 0px;
}

.menu2 {
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: 70px;
  background: var(--1, #34383D);
  display: flex;
  font-size: 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  content: "logo";
}

.logo > a {
  color: white !important;
  text-transform: uppercase;
}

.menu-list {
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
}

.menu-list > a {
  margin-left: 10px;
  color: grey;
  font-weight: 700;
}
.menu-list > a:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--3, #CDA861);
  text-decoration-style: solid;
  color: var(--1, #34383D);
}

.menu2 > :last-child > img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.button, .btn-trans, .btn-brown {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 700;
  font-size: 22px;
  box-sizing: border-box;
}
.button:hover, .btn-trans:hover, .btn-brown:hover {
  box-shadow: 0px 0px 7px grey;
}

.btn-brown {
  color: var(--1, #34383D);
  background: var(--3, #CDA861);
  border: none;
}

.btn-trans {
  color: white;
  background: transparent;
  border: 2px solid var(--3, #CDA861);
  margin-right: 10px;
}

.search, .shopping-cart {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.user {
  height: 40px;
  width: 40px;
  background-image: url("../img/user/usericon.svg");
  background-position: center;
  background-size: cover;
}

.shopping-cart {
  display: flex;
  justify-content: center;
  font-size: 23px;
  padding-left: 6px;
  background-image: url("../img/shopping-cart.svg");
  color: grey;
}