@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
* {
  font-family: Lora;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

* {
  font-family: Lora;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

.text_bilbord {
  display: grid;
  box-sizing: border-box;
  height: auto;
  padding: 5px;
  padding-right: 0px;
}

.text_bilbord > p:first-child {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  color: var(--1, #34383D);
}

.text_bilbord > p:nth-child(2) {
  width: 80%;
  font-size: 22px;
  font-weight: 400;
  color: gray;
}

.text_bilbord > p > a {
  color: var(--3, #CDA861);
  text-decoration: solid;
  text-decoration-line: underline;
  font-weight: 700;
}

.special-offert {
  background-image: url("../img/sofabg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: none;
  padding: 10px;
  padding-top: 10px;
}

.special-offert > span {
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.timer {
  width: 60%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 4px;
  border: none;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.timer > div {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  border: none;
  display: grid;
  justify-items: center;
  align-items: flex-end;
  padding-top: 18px;
  margin: 5px;
}

.text1 {
  display: grid;
  justify-items: center;
}

.text1 > strong {
  font-size: 30px;
  text-decoration-style: solid;
  text-decoration-color: var(--3, #CDA861);
  text-decoration-line: underline;
  color: black;
}

.text1 > p {
  color: gray;
}

* {
  font-family: Lora;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

footer {
  background: var(--3, #CDA861);
  width: 100%;
  display: fixed;
}

footer > div > div > label {
  width: 350px;
  text-align: justify;
}

.social_media > a {
  width: 30px;
  height: 30px;
  margin: 2px;
}

.copyright {
  background: var(--1, #34383D);
  height: 40px;
  color: white;
  margin-top: 5px;
  align-items: center;
}

* {
  font-family: Lora;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

.menu1 {
  color: var(--1, #34383D);
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.menu1 > div:first-child {
  font-size: 22px;
  font-weight: 700;
}

.menu1 > div:first-child::before {
  content: url("../img/headphone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  margin-right: 10px;
  padding: 0px;
}

.menu2 {
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: 70px;
  background: var(--1, #34383D);
  display: flex;
  font-size: 40px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  content: "logo";
}

.logo > a {
  color: white !important;
  text-transform: uppercase;
}

.menu-list {
  display: flex;
  flex-wrap: nowrap;
  font-size: 20px;
}

.menu-list > a {
  margin-left: 10px;
  color: grey;
  font-weight: 700;
}
.menu-list > a:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--3, #CDA861);
  text-decoration-style: solid;
  color: var(--1, #34383D);
}

.menu2 > :last-child > img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.button, .btn-trans, .btn-brown {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-weight: 700;
  font-size: 22px;
  box-sizing: border-box;
}
.button:hover, .btn-trans:hover, .btn-brown:hover {
  box-shadow: 0px 0px 7px grey;
}

.btn-brown {
  color: var(--1, #34383D);
  background: var(--3, #CDA861);
  border: none;
}

.btn-trans {
  color: white;
  background: transparent;
  border: 2px solid var(--3, #CDA861);
  margin-right: 10px;
}

.search, .shopping-cart {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.user {
  height: 40px;
  width: 40px;
  background-image: url("../img/user/usericon.svg");
  background-position: center;
  background-size: cover;
}

.shopping-cart {
  display: flex;
  justify-content: center;
  font-size: 23px;
  padding-left: 6px;
  background-image: url("../img/shopping-cart.svg");
  color: grey;
}

* {
  font-family: Lora;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 350px;
  border: none;
  background-image: #CDA861 100%;
  border: 1px solid goldenrod;
  border-radius: 20px;
}

.poster {
  height: 100%;
  width: 350px;
  height: 100%;
  background-image: url("../img/furniture/chair-sofa.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.text {
  display: grid;
  justify-content: left;
  width: 600px;
  height: 100%;
  align-content: center;
  border: none;
  background-image: url("../img/furniture/chair.png");
  background-repeat: no-repeat;
  background-position: 105% 100%;
  background-size: 50%;
}
.text :nth-child(2) {
  width: 50%;
  font-size: 40px;
  font-weight: 700;
  color: black;
  text-align: left;
  letter-spacing: 1px;
}
.text :nth-child(3) {
  width: 70%;
  font-size: 12px;
  color: grey;
  text-align: left;
  letter-spacing: 1px;
}

.text > a {
  font-size: 20px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-decoration-color: var(--3, #CDA861);
  text-decoration-style: solid;
}

.text > span {
  width: 70%;
}

body {
  background-image: linear-gradient(90deg, #D6CFC2 0%, rgba(255, 255, 255, 0.5) 100%);
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}

a {
  font-weight: 700;
}

img {
  width: 90%;
  height: 90%;
  margin: auto;
}

.form-body {
  height: auto;
  width: 100%;
  display: grid;
  justify-content: center;
}

.post {
  box-sizing: border-box;
  overflow: hidden;
  height: 300px;
  border-radius: 15px;
  background-color: aliceblue;
  padding: 5px;
  padding-top: 10px;
  display: grid;
  align-content: space-between;
  justify-items: center !important;
}
.post:hover {
  border: 0.2em solid var(--3, #CDA861) !important;
}

.card-title {
  width: 100%;
  height: 23px !important;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px !important;
  overflow: hidden;
  text-align: center;
  font-weight: 700 !important;
}
.card-title:link {
  color: forestgreen !important;
  text-decoration-color: hotpink !important;
}

.btn-primary {
  background-color: var(--3, #CDA861);
  border: none;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center !important;
}
.btn-primary:hover {
  background-color: var(--3, #CDA861);
  color: var(--1, #34383D) !important;
}
.btn-primary:active {
  background-color: var(--3, #CDA861) !important;
  color: var(--1, #34383D);
}
.btn-primary:visited {
  background-color: var(--3, #CDA861) !important;
  color: var(--1, #34383D);
}

.btn-success {
  border: 1px solid var(--3, #CDA861) !important;
  background: transparent;
  color: black;
  z-index: 2;
}
.btn-success:hover {
  background-color: transparent !important;
  color: var(--1, #34383D) !important;
}
.btn-success:active {
  background-color: var(--3, #CDA861) !important;
  color: var(--1, #34383D);
}

.prod-body {
  height: 180px;
  box-sizing: border-box;
  padding: 0px;
}

.carousel {
  background: grey;
  border-radius: 30px;
  overflow: hidden;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  padding: 5px;
}

.owl-next, .owl-prev {
  width: 20px;
  background: var(--3, #CDA861) !important;
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px -23px 0 -23px;
  margin-top: -20%;
}

.owl-nav {
  position: relative !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap !important;
  border: none;
}