@import 'var.scss';
footer
{
    background: $brown;
    width: 100%;
    display: fixed;
}
footer>div>div>label
{
    width: 350px;
    text-align: justify;
}
.social_media>a
{
    width: 30px;
    height: 30px;
    margin: 2px;
}
.copyright
{
    background: $black;
    height: 40px;
    color: white;
    margin-top:5px ;
    align-items: center;
}