@import 'var.scss';

.menu1
{
    color: $black;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.menu1>div:first-child
{
    font-size: 22px;
    font-weight: 700;
}
.menu1>div:first-child
{
    &::before
    {
        content:url('../img/headphone.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        margin-right: 10px;
        padding: 0px;
    }
}
.menu2
{
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
.logo
{
    width:200px;
    height: 70px;
    background: $black;
    display: flex;
    font-size: 40px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    content:"logo";
}
.logo>a{
    color: white !important;
    text-transform: uppercase;
}
.menu-list
{
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
}
.menu-list>a
{
    margin-left: 10px;
    color:grey;
    font-weight: 700;
    &:hover{
        
        text-decoration-line: underline;
        text-decoration-color: $brown;
        text-decoration-style: solid;
        color: $black;
    }
}
.menu2>:last-child>img
{

    width: 40px;
    height: 40px;
    cursor: pointer;
}
.button
{
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50px;
    font-weight: 700;
    font-size: 22px;
    box-sizing:border-box;
    &:hover
    {
        box-shadow:  0px 0px 7px grey;
    }
}
.btn-brown
{
    @extend .button;
    color:$black;
    background: $brown; 
    border:none;
}
.btn-trans
{
    @extend .button;
    color:white;
    background: transparent; 
    border:2px solid $brown;
    margin-right:10px;
}
.search
{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.user
{
    height: 40px;
    width: 40px;
    background-image:url('../img/user/usericon.svg');
    background-position:center;
    background-size:cover;
}

.shopping-cart
{
    display: flex;
    justify-content: center;
    font-size: 23px;
    padding-left: 6px;
    @extend .search;   
    background-image: url('../img/shopping-cart.svg');
    color:grey;
   

}