@import 'var.scss';

.text_bilbord
{
    display: grid;
    box-sizing: border-box;
    height: auto;
    padding: 5px;
    padding-right: 0px;
}
.text_bilbord>p:first-child
{
    width:100%;
    font-size: 40px;
    font-weight: 700;
    text-align: left;   
    color:$black; 
}
.text_bilbord>p:nth-child(2)
{
    width:80%;
    font-size: 22px;
    font-weight: 400;
    color:gray;   
}
.text_bilbord>p>a
{
    color: $brown;
    text-decoration: solid;
    text-decoration-line:underline;
    font-weight: 700;
}
.special-offert
{
    background-image:url('../img/sofabg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: none;
    padding: 10px;
    padding-top:10px;   
}
.special-offert>span
{   
    text-transform: uppercase;
    color:black;
    
    font-size: 30px;
    font-weight: 700;
}
.timer
{
    width: 60%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
    gap: 4px;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}
.timer>div
{
    width: 65px ;
    height: 65px;
    border-radius:50px;
    border:none;
    display: grid;
    justify-items: center;
    align-items:flex-end;
    padding-top: 18px;
    margin: 5px;
}

.text1
{
    display: grid;
    justify-items: center;  
}

.text1>strong
{
    font-size: 30px;
    text-decoration-style: solid;
    text-decoration-color: $brown;
    text-decoration-line:underline ;
    color: black;
}
.text1>p
{
    color: gray;
}




