@import 'var.scss';
@import 'home.scss';
@import 'footer_style.scss';
@import 'header_style.scss';
@import 'about.scss';

body
{
    background-image: linear-gradient(90deg, #D6CFC2 0%, rgba(255, 255, 255, 0.50) 100%);
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}
a
{
    font-weight: 700;
}
img
{
    width: 90%;
    height: 90%;
    margin: auto;
}
.form-body{
    height: auto;
    width: 100%;
    display: grid;
    justify-content: center;
}

.post{
    box-sizing:border-box;
    overflow: hidden;
    height: 300px;
    border-radius: 15px;
    background-color:aliceblue;
    padding: 5px;
    padding-top: 10px;
    display: grid;
    align-content: space-between;
    justify-items: center !important;     
    &:hover{
        border:0.2em solid $brown !important;
    }   
}
.card-title
{
    width: 100%;
    height: 23px !important;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px !important;
    overflow: hidden;
    text-align: center;
    font-weight: 700 !important;
    &:link
    {
        color: forestgreen !important; 
        text-decoration-color: hotpink !important;
    }
}
.btn-primary
{
    background-color: $brown;
    border:none;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items:center !important;
    &:hover
    {
        background-color: $brown;
        color: $black !important;
    }
    &:active{
        background-color: $brown !important;
        color: $black;
    }
    &:visited
    {
        background-color: $brown !important;
        color: $black;
    }
}
.btn-success
{
    border:1px solid $brown !important;
    background: transparent;
    color:black;
    z-index: 2;
    &:hover{
        background-color: transparent !important;
        color: $black !important;
    }
    &:active{
        background-color: $brown !important;
        color: $black;
    }
   
}
.prod-body
{
    height: 180px;
    box-sizing: border-box;
    padding: 0px;
    
    
}
.carousel
{    
    background:  grey;
    border-radius: 30px;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    padding: 5px;
}
.owl-next
{
    width: 20px;
    background: $brown!important;
    color:white !important;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0px -23px 0 -23px;
    margin-top: -20%;
}
.owl-prev
{
@extend .owl-next;
}
.owl-nav
{ 
    position: relative !important;
    display: flex !important; 
    justify-content: space-between;
    align-items:center;
    flex-wrap: nowrap !important;
    border:none;

}
