$black:var(--1, #34383D);
$brown:var(--3, #CDA861);
@import 'https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap';
*
{
    font-family:Lora;
    box-sizing:border-box;
}

a{
    text-decoration: none;
    color: black;    
    font-weight: 400;
}
img
{
    width: 100%;
    height: 100%;
}